*{
    outline: 1px solid #000;
}

nav{
    justify-content: flex-end;
    background-color: rgb(184, 46, 46);
    display: flex;
    flex-wrap: wrap;
}

nav a{
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    display: flex;
}
div{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    margin: 5px;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #909090;
    color: white;
}
header{
    display: flex;
    height: 150px;
}