*{
    margin: 0px;
    padding: 0px;
}

ul {
    background-color: rgb(184, 46, 46);
    display: flex;
    list-style-type: none;
    justify-content: end;
    flex-wrap: wrap;

}

li{
    margin-left: 50px;
    padding: 10px;
    margin-right: 10px;   
    
}
div{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    margin: 5px;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: #909090;
    color: white;
}