
/*TODOS OS ELEMENTOS
*{

}

/* ID */

#id { 
 
}
/* CLASSE */
.classe { 
    
}

.color{
    color: blue;   /* cor*/
}
 
.background{
    background: #aaa url() repeat 0px 0px; /* BACKGROUND GERAL */ 
    background-attachment: fixed; /* ROLAGEM DA IMAGEM DE FUNDO */ 
    background-clip: border-box;/* (border-box, padding-box, content-box) */   
    background-color: black; /* cord do fundo*/
    background-color: rgb(red, green, blue); /* cores separadas*/
    background-color: rgba(red, green, blue, alpha); /* com transparencia */ 
    background-image: url(); /* colocar imagem no background*/
    background-size: 200px 500px; /* dimensão da imagen (largura,altura)*/
    background-repeat: repeat; /* repetir a imagem*/
    background-position: left top;/*(horizontal,vertical)*/
}

.border{
    border: 10px solid #000; /* BORDA GERAL */
    border-style: dotted; /*estilo da borda*/
    border-color: #000; /* corda borda*/
    border-width: 16px; /* tamanho da borda*/
    border-top: 15px; /*tamanho da borda do topo*/
    border-bottom: 15px; /* tamanho da borda de baixo*/
    border-left: 15px; /* tamanho da borda esquerda*/
    border-right: 15px; /* tamanho da borda direita*/
    border-radius: 15px  10px 10px 15px; /* arredondar os cantos */ 
    border-image: url() round; /*coloca uma imagem na borda com volta*/
}

.margin{
    margin: 35px 34px 20px 12px; /* margen(superior,direita,inferior,esquerda */
}
